@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

#header {

  padding: 10px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(5px);

  .header {
    display: flex;
    align-items: center;

    &-navs {
      display: flex;
      justify-content: space-between;

      a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        padding: 0 30px;
      }
    }
  }
}

#hero {
  background: url("../img/bg.png") no-repeat center/cover;
  min-height: 100vh;

  .hero {
    padding-top: 200px;


    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      margin-bottom: 30px;

      span {
        color: #FF9900;
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      margin-bottom: 70px;

      span {
        color: #FF9900;
      }
    }

    .btn1 {
      width: 331px;
      height: 41px;
      background: #FF9900;
      border-radius: 60px 0 0 60px;
      border: none;
      outline: none;
      color: white;
      font-size: 16px;
      cursor: pointer;

    }

    .btn2 {
      width: 231px;
      height: 41px;
      background: transparent;
      border-radius: 0 60px 60px 0;
      border: 1px solid #FF9900;
      outline: none;
      color: white;
      font-size: 16px;
   cursor: pointer;
    }

  }


}

#menu {
  background: url("../img/menu-bg.png") no-repeat center/cover;
  min-height: 100vh;
  padding: 50px 0;

  .menu {


    &-them {
      display: flex;
      align-items: center;
      margin-bottom: 200px;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }

      img {
        padding: 0 20px;
      }

      .arrow-top {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        border: 2px solid #FF9900;
        position: absolute;
        left: 885px;

      }
    }

    .menu-blocks {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;

      .menu-block {
        text-align: center;
        width: 241px;
        height: 287px;
        background: radial-gradient(100% 100% at 0% 0%, rgba(99, 99, 99, 0.58) 0%, rgba(99, 99, 99, 0.58) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
      ;
        backdrop-filter: blur(10px);
        border-radius: 20px;

        h1 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: #FFFFFF;
          padding-top: 70px;
          margin-bottom: 15px;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-align: center;
          color: #FFFFFF;
          margin-bottom: 30px;
        }

        .sm {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;

          .top1 {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;

            .top2 {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #FFFFFF;
            }
          }

          h6 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
          }
        }

        .plus {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;

          h6 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
            padding: 0 15px;
          }
        }

        .cen {
          display: flex;
          justify-content: center;
          align-items: center;

          h6 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: gray;
            padding: 0 15px;
          }

          .menu-width {
            width: 62px;
            height: 0;
            border: 1px solid #AEAEAE;
            position: absolute;
            right: 130px;
          }

          button {
            @include btn()
          }
        }

      }

      .menu1 {
        position: absolute;
        bottom: 210px;
        left: 20px;

      }

    }

    .arrow-top1 {
      width: 47px;
      height: 47px;
      border-radius: 50%;
      border: 2px solid #FF9900;
      position: absolute;
      left: 750px;

    }
  }
}

#why {
  background: url("../img/why-bg.png") no-repeat center/cover;
  min-height: 100vh;
  padding-top: 200px;


  .why {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .w2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 118px;
      height: 118px;
      border-radius: 50%;
      background: #282626;
      position: absolute;
      top: -80px;
      left: 180px;

    }

    .w3 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 118px;
      height: 118px;
      border-radius: 50%;
      background: #282626;
      position: absolute;
      top: 50px;
      left: 370px;
    }

    .W4-gen {
      width: 142px;
      height: 142px;
      background: #FF9900;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 350px;
      left: 300px;

      .w4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 118px;
        height: 118px;
        border-radius: 50%;
        background: #282626;

      }
    }

    .w5 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 118px;
      height: 118px;
      border-radius: 50%;
      background: #282626;
      position: absolute;
      top: 380px;
      left: 50px;
    }

    .w6 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 118px;
      height: 118px;
      border-radius: 50%;
      background: #282626;
      position: absolute;
      top: 90px;
      left: -50px;
    }

    &-tit {
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 90px;
      }

      div {
        display: flex;
        margin-bottom: 20px;

        img {
          width: 20px;
          height: 20px;
          padding: 0 10px;
        }
      }


      .why-width {
        width: 280px;
        height: 0;
        border: 1px solid #FF9900;
        margin-bottom: 30px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
      }

    }
  }

  .name {
    padding-top: 150px;
    position: relative;


    div {
      position: absolute;
      top: 200px;
      left: 0;
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: #FF9900;
        margin-bottom: 30px;
      }
      p{

        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #FF9900;
      }
      input{
        width: 343px;
        height: 38px;
        background: #000;
        border: 1px solid #FF9900;
        padding-left: 15px;
        color: #FFFFFF;
        font-size: 14px;
        margin-bottom: 20px;
        outline: none;
      }

      .name-in{
        width: 343px;
        height: 88px;
        background: #000;
        border: 1px solid #FF9900;
      }

      button{
        width: 250px;
        height: 51px;
        border: none;
        cursor: pointer;
        background: #FF9900;
        border-radius: 20px;
        color: white;
        transition: .4s;

        &:hover{
          transform: scale(1.1);
        }
      }






    }
  }
}

#coment{

  background: url("../img/why-bg.png") no-repeat center/cover;
  min-height: 100vh;
  padding-top: 100px;

  .coment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-block1{
    h1{
      font-family: 'Montserrat',sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    p{
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #FFFFFF;
      margin-bottom: 35px;
    }
    button{
      width: 270px;
      height: 63px;
      border: 1px solid #FF9900;
      border-radius: 60px;
      background: transparent;
      color: #FFFFFF;
      font-size: 24px;
      cursor: pointer;
      transition: .4s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }

    &-block2{
      width: 500px;
      height: 571px;
      background: radial-gradient(100% 100% at 0% 33.19%, rgba(126, 126, 126, 0.46) 0%, rgba(114, 112, 112, 0.46) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      backdrop-filter: blur(10px);
      border-radius: 60px;
      padding: 50px;


      &-gen{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
          h1{
            font-family: 'Montserrat',sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 20px;
          }
          p{
            font-family: 'Montserrat',sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
            padding: 20px 0;
          }

        }


      }

      .gen-tit{
        display: flex;
        justify-content: flex-end;
        p{
          font-family: 'Montserrat',sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #FFFFFF;
          padding-right: 60px;
          margin-bottom: 100px;
        }
      }
    }

    .arrow-up{
      position: absolute;
      right: 550px;
      top: 160px;
    }
    .arrow-down{
      position: absolute;
      right: 550px;
      top: 300px;
    }
    .top{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #FF9900;
      position: absolute;
      right: 540px;
      top: 380px;
    }



  }
}

#swiper {
  background: url("../img/why-bg.png") no-repeat center/cover;
  min-height: 100vh;

}

#footer{
  .footer{

  }
}

  .swiper{

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 40px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}